/*Smartphones*/

@media (min-width: 320px) {}


/*Smartphones*/

@media (min-width: 360px) {}


/*Smartphones*/


/*Tablets*/

@media (min-width: 768px) {
  .img-sbu{
    height: 200px;
  }
  .xl-title{
     font-size: 40px;
  }
  .main-title {
    font-size: 30px;
  }
  .sub-title {
    font-size: 22px;
  }
  .mg2 {
    margin: 1% 4% 1% 0%;
  }
  .mg-bot-20{
    margin-bottom: 20px;
  }
  .mg-top-20{
    margin-top: 20px;
  }
  .mg-top-30{
    margin-top: 30px;
  }
  .req-demo-section .title-block{
    font-size: 20px;
  }
  /*---------------------landing page css-----------------------------------------------------------*/

  .team-top-image {
    /*transform: scale(0.5) translateX(30px);*/
    /*transform: scale(0.75) translateX(30px);*/
    /*transition: all 0.3s;*/
}
    .owl-item.active.center .team-top-image{
     /*transform: scale(1) translateX(100px);*/
     
    }
  .navbar-header {
    width: 8%;
    padding: 10px;
  }

  div#myNavbar {
    width: 85%;
    display: flex!important;
    align-items: center;
    justify-content: space-between;
  }
   div#myNavbar .nav>li>a{
    padding: 5px 9px;
  }
  .navbar-nav {
    width: 85%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
  }

  .navbar{
      margin-bottom: 0px!important;
  }
  .navbar-right {
    /*width: 20%;*/
  }
  /*navbar end*/
  .hero-title {
    font-size: 38px;
    color: #fff;
    line-height: 44px;
    /*font-family: 'AbhayaLibreBold';*/
  }
  .hero-subtitle {
    color: rgb(0 0 0 / 75%);
    font-size: 18px;
    line-height: 25px;
    font-weight: 700;
    margin: 20px 0px;
  }
  .banner-content {
    width: 60%
  }
  .curriculum-page .desciption p {
    font-size: 18px;
}
.map-block{
  height: 350px;
}
.mg-left-10{
  margin-left: 10px;
}

/*.outer #thumbs .item{
    width: 200px;
    height: 120px;
    display: flex;
}

.outer div#thumbs.owl-carousel .owl-item{   
    width: 250px;
}
.outer #thumbs .current .item {
    transform: translateX(10px);
}*/
}

@media (min-width: 768px) and (max-width: 992px) {
 .outer #thumbs .owl-item{
    padding:5px;

  }
  div#thumbs .item img{
    padding: 10px;
  }
}
/*Ipad*/

@media (min-width: 992px) {
  .block-plan {
    padding: 20px;
  }
  .white-bg {
    background: #fff;
    padding: 25px;
    box-shadow: 0px 0px 23px #eaeaeab5;
  }
  /*---------------------landing page css-----------------------------------------------------------*/

  p.blog-cat{
    font-size: 14px;
  }

div#thumbs .item img{
  padding: 10px 30px;
}
.outer div#thumbs{
  padding:0px 5%;
}
 .con-wrapper{
  position: absolute;
  right: 0px;
  width: 50%;
  display: flex;
  justify-content: center;
  z-index: 8;
  padding: 10px;
}
.about-icon{
  width: 40%;
}

.flex-map-section{
  display: flex;
}

.map .map-block{
	height: 100%;
}
}


/*Desktops*/

@media (min-width: 1200px) {
  .outer div#thumbs {  
    width: 100%;
    margin: auto;
    padding: 0px 15%;

    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(0 0 0 / 47%);
    
}
.get-form {
   padding: 100px;
}
.outer #thumbs .owl-item{
    width: 20%!important;
    z-index: 999;
    padding: 12px 3px;
    /* margin-top: -20px; */
    position: relative;
}
.outer #thumbs  .owl-stage{
  display: flex;
  justify-content: center;
  align-items: center;
}
  .img-sbu{
    height: 450px;
  }
  .legacy-background{
    min-height: 500px;
  }
ul.social-links li:hover{
    background: #eeeeee;
    background-origin: center;   
}
ul.social-links li:hover i{
     color: #4c5b5d;
}
.small-content p{
    font-size: 12px;
    line-height: 20px;
  }
  #banner-section{
    padding-top: 64px;
}
div#thumbs img {
    padding: 0px 0px;
    /*height: 150px;*/
    /*width: 220px;*/
    margin: auto;
}
.news-container{
    width: 1200px;
    padding-left: 30px;
    padding-right: 30px;
    margin: auto;
}
.inner-banner-section{
   margin-top: 64px;
}
  .menu-nav .dropdown-menu{
    left:12px;
  }
  .xl-title{
     font-size: 50px;
  }
  .main-title {
    font-size: 30px;
  }
  .sub-title {
    font-size: 22px;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: 7px;
  }
  h3{
    font-size: 18px;
    line-height: 23px;
  }
  .flow-wrapper-center {
    display: flex;
    /*justify-content: center;*/
    /*align-items: center;*/
  }
  .flow-wrapper-center .custom-container {
    width: 85vw!important;
  }
  /*.white-block {
    padding: 30px;
    background: #fff;
    box-shadow: 0px 0px 23px #eaeaeab5;
    border-radius: 10px;
  }*/
  /*---------------------landing page css-----------------------------------------------------------*/

  .select-age-block{
      padding: 5px 15px;
      font-size: 20px;
      border-radius: 10px;
  }
  .watch-section-iframe{
    height: 400px;
  }
  .curriculum-page .desciption p {
      font-size: 20px;
  }

   .single-box-values{
  min-height: 215px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
   border: 1px solid #4c5b5d; 
   box-shadow: none;
}
.descri-val{
  padding: 10px;
  position: absolute;
  height: 100%;
  align-items: center;
  justify-content: center;
  opacity: 0;
  background: #4c5b5d;
  padding: 34px;
  display: flex;
  height: 96%;
  width: 96%;
  justify-content: center; 
  transition: all 0.5s; 
  z-index: -1;
}
.single-box-values:hover .descri-val{
  opacity: 1;
}
.descri-val{
  color:#fff;
}
.single-box-values:hover .descri-bot{
    transform: translateY(104%); 
}
.single-box-values:hover .descri-top{
    /*opacity: 1;*/
    transform: translateY(-104%);     
}
.single-box-values:hover .descri-left{
    /*opacity: 1;*/
    transform: translateX(-104%);     
}
.single-box-values:hover .descri-right{
    /*opacity: 1;*/
    transform: translateX(104%);     
}
ul.nav.nav-pills.sbu-tabs a img{
  transition: all 0.7s;
}
ul.nav.nav-pills.sbu-tabs a:hover img{
  transform: scale(1.08);
}
}

@media (min-width: 1280px) {
  .news-container{
    width: 1204px;
    padding-left: 30px;
    padding-right: 30px;
    margin: auto;
}
  .course-detail.po-ab{
    justify-content: end;
    transform: translateY(60%);
    transition: all 0.4s ease;
}
.course-overlay:hover .course-detail.po-ab{
  transform: translateY(0%);
  justify-content: center;
}
  .xl-title{
     font-size: 64px;
  }
  .main-title {
    font-size: 30px;
        letter-spacing: 1px;
  }
  .flow-wrapper {
    padding: 50px 60px 10px;
  }
  h2 {
    font-size: 30px;
  }
  h3 {
    font-size: 18px;
  }
  p {
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 20px;
  }
  .small-content p{
    font-size: 12px;
    line-height: 16px;
  }
  .dark-orange-hover:hover {
    transform: translateY(-10px);
  }
  /*---------------------landing page css-----------------------------------------------------------*/
  .banner-content {
    width: 63%
  }
  .hero-title {
    font-size: 40px;
    line-height: 50px;
    letter-spacing: 1px;
  }
  .hero-subtitle {
    font-size: 22px;
    font-weight: 400;
  }
  div#myNavbar .navbar-nav>li>a, div#myNavbar .dropdown-menu>li>a {
    font-size: 14px;    
    padding: 5px 12px;
  }
  div#myNavbar .dropdown-menu>li>a{
    padding: 10px 20px;
  }
}

@media (min-width: 1366px) {
  .flow-wrapper {
    /*padding: 90px 90px 10px;*/
    padding: 60px 60px 10px;
  }
  .block-plan {
    padding: 40px;
  }
  .block-plan {
    padding: 25px;
  }
 /* .landing-container.news-container{
    width: 100%;
    padding-left:8%;
    padding-right:8%;
  }*/
  /*---------------------landing page css-----------------------------------------------------------*/

 
  
  img.orange-circle{
    position: absolute;
    width: 67%;
    top: 57%;
    right: 16%;
    transform: translateY(-50%);
  }
  img.hero-img{
    
    right: 16%;
    top: 53%;
    transform: translateY(-50%);
    position: absolute;
    width: 67%;
    z-index: 1;
  }
  .sub2-title{
    font-size: 18px;
   /*font-family: 'MontserratBold';*/
   font-weight: 600;
}
.course-detail p{
    font-size: 14px;
    line-height: 18px;
    
}
.con-wrapper .nav-tabs>li a{
  font-size: 20px;
}
}

@media (min-width: 1401px) {
  .con-wrapper{
    padding: 20px;
  }
  /*---------------------landing page css-----------------------------------------------------------*/
  .card {
    margin: 50px 0px;
  }
  .slider-space {
    padding: 30px 20% 30px 0px;
  }
  .map-block{
    height: 400px;
  }
  .map .map-block{
  	height: 100%;
  }
  div#myNavbar .dropdown-menu>li>a{
    padding: 12px 25px;
  }
  
}

@media (min-width: 1600px) {

  .inner-banner-section{
    height: 48vh;
  }
  #team-carousel .item{

  /*-webkit-transform:scale(1) translateX(-383px)!important;*/
  /*transform:scale(1) translateX(-383px)!important;*/
} 
.single-filter-item p{
  font-size: 16px;
  padding: 0px 15px;
}
#team-carousel .item{
  
  -webkit-transition:.4s ease all;
  transition:.4s ease all;
  /*margin:0 20px;*/
  /*-webkit-transform:scale(.85) translateX(-383px);*/
  /*transform:scale(.85) translateX(-383px);*/
}
.points-list li{
  font-size: 18px;
}
  .c-n-title{
    font-size: 20px;
  }
 
  .sub2-title{
    font-size: 18px;
   /*font-family: 'MontserratBold';*/
    }
    .course-detail p{
        font-size: 16px;
        line-height: 20px;
        
    }
  .pd-lr-30{
    margin: 40px 33px;
  }
  .single-box-values{
    padding: 20px;
    min-height: 410px;
  }
  .img-grp img {
    height: 60px;
}
   .small-content p{
    font-size: 14px;
    line-height: 24px;
  }
  .left-line, .left-pointer, .left-line-banner{
    left: 48px;
  }
#milestone .slick-slide a:before{
  left: 18px;
}
span.year-value{
  font-size: 60px;
    line-height: 72px;
}
  .xl-title{
     font-size: 96px;
  }
  .main-title {
    font-size: 32px;
  }
  .note {
    color: rgb(51 51 51 / 35%);
    font-size: 30px;
  }
  .btn-all {
    padding: 15px 24px 15px 24px;
  }
  .sub-title {
    font-size: 28px;
  }
  .icon-img {
    height: 120px;
  }
  .block-grey {
    padding: 50px;
  }
  .block-lang {
    padding: 60px 80px;
  }
  .icon-img img {
    width: 100px;
  }
  .flow-wrapper {
    /*padding: 120px 120px 10px;*/
    padding: 90px 90px 10px;
  }
  .flow-wrapper > section{
    padding: 55px;
  }
  .counter-news {
    position: absolute;
    right: 71px;
    bottom: 11%;
}
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: 10px;
  }
  h2 {
    font-size: 28px;
  }
  h3 {
    font-size: 22px;
  }
  p {
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 24px;

  }
  .c-n-details p{
      font-size: 16px!important;
      line-height: 22px!important;
  }
  .single-breaking p {
      font-size: 14px!important;
      line-height: 18px!important;
  }
  .divider {
    margin: 70px 0px;
  }
  .btn-all {
    font-size: 18px;
  }
  .form-control {
    height: 62px;
  }
  .form-group {
    margin-bottom: 30px;
  }
  label {
    font-size: 18px;
  }
  .block-plan {
    padding: 54px;
  }
  ul.plan-features li {
    font-size: 20px;
  }
  .block-plan {
    padding: 30px;
  }
  /*---------------------landing page css-----------------------------------------------------------*/
   .dropdown-menu{
    left:16px;
  }
  div#myNavbar .navbar-nav>li>a, div#myNavbar .dropdown-menu>li>a  {
    font-size: 16px;   
    padding: 5px 25px;
  }
  .navbar-nav>li>a,.dropdown-menu>li>a {
    font-size: 18px;
   
  }
  .banner-content {
    width: 66%
  }
  .hero-title {
    font-size: 60px;
    line-height: 66px;
  }
  .hero-subtitle {
    font-size: 36px;
    margin: 30px 0px;
    line-height: 38px;
  }
  .section-space {
    padding: 90px 0px;
  }
  .landing-container {
    width: 100%;
    margin: 0px;
    /*display: table;*/
    padding-left:12%;
    padding-right:12%;
  }

  .news-container{
    width: 1458px;
    padding-left: 60px;
    padding-right: 60px;
    margin: auto;
  }
  .square-shape-left{
    width: 62.7%;
  }
  .works-logo {
    margin: 50px 0px;
  }
  .works-img {
    margin: 50px 0px;
  }
  .card {
    padding: 60px;
  }
  .testi-block{
     padding: 60px 50px;
  }
  .testi-block .block-title{
    font-size: 25px;
    line-height: 31px;
    min-height: 190px;
  }
  .video_wrapper {
    width: 600px;
  }
  .video_wrapper_full {
    padding-top: 418px;
  }

  .table-curriculum td{
    padding:20px!important;
  }
  .course-head {
    padding: 20px;
  }
  ul.nav.nav-pills a {
    font-size: 18px;
  }
    .select-age-block{
      font-size: 30px;
    }
     .block-works p {
    font-size: 24px;
        padding: 0px 30px;
  }
  .line-tag{
  font-size: 24px;
   width: 34%;
    margin: 0px auto;
  }
  .single-logo {
    padding: 65px;
  }

 .terms-title{
    font-size: 36px!important;
  }
  .accordion a{
    font-size: 30px;
  }
  .accordion .content p{
    font-size: 30px;
    line-height:32px;
  }
  .static-content {
    margin-top: 100px;
  }
  .accordion-item {
    border-bottom: 1px solid #000;
    padding: 30px 0px;
  }
  .accordion .content{
    margin-top: 20px;
  }
  .accordion a::after{
    font-size: 20px;
  }
  .accordion a.active::after{
    font-size: 20px;
  }

  .divider2{
    margin: 50px 0px;
  }
  .curriculum-page .desciption p {
    font-size: 24px;
  }

  .custom-file-upload .custom-file-label{
    line-height: 62px;
  }
  .custom-fileup{
    height: 62px;
  }

  .btn-apply{
    /*height: 62px;*/
    /*padding: 20px 20px 20px 20px;*/
  }
  .banner{
     height: calc(100vh - 85px);
  }
  #owl-main .item{
    height: calc(100vh - 85px);
  }
  /*.landing-container.news-container{
        width: 100%;
        padding-left: 9%;
        padding-right: 9%;

  }*/
  .con-wrapper .nav-tabs>li a{
    font-size: 26px;
  }

  .get-form {
    padding: 100px 200px;
  }
  /*news section*/
  .news-mid{
    font-size: 26px;
    line-height: 30px;
  }
  .news-small {
  line-height: 20px;
    font-size: 18px;
  }
  .news-wrapper .btn-white{
    font-size: 14px;
    padding: 5px 25px!important;
  }
  .news-leftImage-small{
    /*margin-bottom: 15px;*/
  }
  span.news-date{
    font-size: 16px;    
    margin: 10px 0px;
  }
  .sub-head-orange{
    font-size: 24px;
  }
  .news-descirption p{
    font-size: 16px;
    line-height: 22px;
  }
  .img-news{
    padding: 0px 20px 0px 0px;
  }
  .news-leftImage-small p{
    font-size: 16px;
    line-height: 22px;
  }
  .border-full-orange{
    margin: 0px 20px 0px 15px;
  }

  .job-title-sm{
      font-size: 16px;
  }

  .block-project{
    height: 500px;
  }
  .pro-name{
    font-size: 32px;
  }
  div#myNavbar .dropdown-menu>li>a{
    padding: 15px 25px;
  }
#milestone .slick-slide a{
  font-size: 18px;
}

}

@media (min-width: 1920px) {
  .img-brand{
    width: 100px;
    height: 100px;
  }
  .sustain-content span{
    font-size: 18px;
  }
  .sbu-title, .caption-brand .hero-title{
    padding-left: 0px!important;
}
.points-list li{
  font-size: 18px;
  padding: 10px;
}
  .sub2-title{
    font-size: 20px;
   /*font-family: 'MontserratBold';*/

}
.course-detail p{
    font-size: 18px;
    line-height: 24px;
    
}
.img-grp img {
  height: 90px;
}
.blk-w-border{
  margin: 10px 0px 30px;
}
.mg-top-grp{
    margin-top: 40px;
}
   .small-content p{
    font-size: 16px;
    line-height: 26px;
  }
  h3.res-title{
    margin: 20px 0px;
  }
  span.year-value{
  font-size: 55px;
    /* padding: 20px; */
    line-height: 80px;
}
  #banner-section{
    padding-top: 90px;
}
  .inner-banner-section{
  margin-top: 90px;
  }
  div#myNavbar .dropdown-menu>li>a{
    padding: 14px 30px;
  }
  .small-container{
    width: 1200px;
  }
  .caption-slide{
      border-left: 10px solid #F1A20D;
  }
  .banner{
     height: calc(100vh - 80px);
  }
  #owl-main .item{
    height: calc(100vh - 80px);
  }
  .hero-title{
    font-size: 60px;
    line-height: 66px;
    padding-left: 38px;
  }
  div#myNavbar .navbar-nav>li>a, div#myNavbar .dropdown-menu>li>a{
    font-size: 18px;
  }
  .btn-contact{   
    font-size: 12px!important;
    
    padding: 10px 20px!important;  
}
  
  .single-job-section .left-pointer{
    top: 88px;
   }

  /*news section*/
  .counter-news {
    position: absolute;
    right: 102px;
    bottom: 19%;
}
  .news-mid{
    font-size: 28px;
  }
  .news-small {
    line-height:24px;
    font-size: 22px;
  }
  .news-wrapper .btn-white{
    font-size: 14px;
    padding: 5px 25px!important;
  }
  .news-leftImage-small{
    /*margin-bottom: 15px;*/
  }
  span.news-date{
    font-size: 16px;    
    margin: 10px 0px;
  }
  .sub-head-orange{
    font-size: 24px;
  }
  .news-descirption p{
    font-size: 16px;
    line-height: 22px;
  }
  .img-news{
    padding: 0px 20px 0px 0px;
  }
  .news-leftImage-small p{
    font-size: 16px;
    line-height: 22px;
  }
  .border-full-orange{
    margin: 0px 20px 0px 15px;
  }
  .green-block-news{
       /*padding: 70px 60px;*/
       padding: 36px;
  }

  /*news section end*/

  #owl-main.owl-ui-lg .owl-prev, #owl-main.owl-ui-lg .owl-next{
    width: 60px;
    height: 60px;
    line-height: 57px;   
    /*box-shadow: 0px 0px 14px #000;*/
  }

/*team page*/
.team-descri p {
    font-size: 18px;
    line-height: 30px;
}
.designed-block-team h3 {
    font-size: 18px;
    line-height: 30px;
}
.designed-block-team {
  padding:30px;
}
.team-compny-type{
  font-size: 20px;
}
.verticle-page-title{
  font-size: 14px;
  letter-spacing: 5px;
}

/*CAREER PAGE*/
    .opp-head{
      padding: 50px 40px;
    }
    h4.title-oppo-block{
      font-size: 40px;
    }
    .career-head p{
      font-size: 17px;
      line-height: 24px;
    }
    .title-career-block{
      font-size: 28px;
    }
    .wfh-head{
    padding: 20px 40px;
    }
    .career-head p{
      margin-top: 20px;
    }
    .title-oppo-block {
       transform: scale(0.7) translate(10px, 100px);
    }


    .wfh-image{
       height: 350px;
    }
     .wfh-image img{
       height: 350px;
    }
    .wfh-head{
      transform: translateY(150px);
    }
    .back-to-topbtn{
      height: 200px;
    }
  /*Overview page*/
  .img-number img{
    width: 160px;
    margin: auto;
    height: 160px;
  }
  .img-number{
    margin: 80px auto;
  }
  h3.big-num{
    font-size: 50px;
  }
  span.num-unit{
    font-size: 26px;
  }
  .section-space.number-section{
    padding: 150px 0px;
  }
  /*overview end*/

  /*opening*/
  .job-subtitle {
    font-size: 22px;
    margin-bottom: 20px;
  }
  .job-desci-block{
     padding: 35px 0px;
  }
  .left-vert-border{
    height: 130px;
  }
  .job-title{
    font-size: 36px;
  }
  /*opening end*/
  .navbar-nav>li>.dropdown-menu{
    margin-top: 40px;
}

.job-title-sm{
      font-size: 20px;
}
.job_block p{
  font-size: 14px;
  line-height: 18px;
}
p.wfh-cont-descri{
  font-size: 18px;
  line-height: 32px;
}
.hi-sm{
  height: 200px;
}
.wfh-big-st-block > img{
    height: 200px;
}
.hi-lg{
  height: 500px;
}
.wfh-big-ab-block{
  width: 70%;
}
.wfh-cont-title{
  font-size: 26px;
  line-height: 32px;
}
.opprtunity-background{
  height: 880px;
}
.opprtunity-content {    
    bottom: 100px;
    width: 50%;
    right: 100px;
}
.communities-main-block  .communities-block{
  min-height: 800px;
}
.communities-details h3{
  font-size: 48px;
}
.pro-name{
  font-size:36px;
  line-height: 40px;
}
.block-project{
  height: 500px;
}
 .map-block{
    height: 450px
  }
 .map .map-block{
  	height: 100%;
  }
  .news-container{
    width: 1800px;
    padding-left: 60px;
    padding-right: 60px;
    margin: auto;
  }

  /*Belief page*/
  #service-slider {   
    margin-top: -71px;
    margin-bottom: 40px;
}

.service-title{
padding: 20px;
}
.single-box-values{
  min-height: 300px;
}
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  .pd-left-30 {
    padding-left: 0px;
  }
  .pd-right-30 {
    padding-right: 0px;
  }
  .border-left {
    border: none;
  }
  .w-20-lg {
    width: 40%;
  }
  .flex-wrap-mob {
    flex-wrap: wrap;
  }
  .w-25-lg {
    width: 48%;
  }
  .block-plan {
    border: 2px solid #d0d0d0;
    margin: 2%;
  }
    .grid-container-sustain{  
    display: grid; 
    grid-template-columns: 45% 45%;
    grid-template-rows:4fr;
    grid-gap: 10px;
    grid-template-areas:
               "si1 si2"
               "si3 si4"
               "si5 si6"
               "si7 si8"
               "si7 si9"
               "si10 si11";
    background-color: transparent;
}
  /*---------------------landing page css-----------------------------------------------------------*/
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  .w-25-lg {
    width: 33%;
  }

}

@media (max-width: 767px) {

  h1 {
    font-size: 32px;
  }
  h2 {
    font-size: 24px;
  }
  h3 {
    font-size: 16px;
  }
  p {
    font-size: 14px;
  }
  .flex-wrap-mob {
    flex-wrap: wrap;
  }
  .w-m-100{
  width: 100%!important;
}
.mg-mb-20{
  margin-top: 20px;
}
  .flow-wrapper {
    padding: 40px 10px;
  }
  .w-20-lg {
    width: 45%;
  }
  .custom-container {
    width: 100%;
  }
 
  .title-heading {
    margin-bottom: 20px;
  }
  .btn-all, .btn-white {
    padding: 5px 10px;
    min-width: initial;
  }
  /*form*/
  .pd-left-30 {
    padding-left: 0px;
  }
  .pd-right-30 {
    padding-right: 0px;
  }
  .border-left {
    border: none;
  }
  /*time slot*/
  .plan-date .form-control {
    height: 50px;
    letter-spacing: 3px;
    font-size: 14px;
  }
  .plan-date .input-group-addon {
    padding: 6px 15px;
    width: 60px;
  }
  .block-plan {
    border: 3px solid#cecece;
    margin: 3%;
  }
  .w-25-lg {
    width: 90%;
  }
  .block-plan p {
    font-size: 14px;
  }
  .flow-wrapper > section{
    padding: 15px;
  }
  /*---------------------landing page css-----------------------------------------------------------*/
  /*menu*/
  .navbar-toggle .icon-bar{
    background: #000;
    float: none;
  }
  .d-block-mob{
    display: initial!important;
  }
  .menu-mob .navbar-header {
    width: 100%;
   
   /* display: flex;
    justify-content: space-between;
    align-items: center;*/
  }
  .menu-mob #myNavbar{
    transform: translateX(100%);   
    min-height: calc(100vh - 50px);
    transition: all 0.4s; 
    background: #fff;
     opacity: 0.5;
  }
  .navbar{
    background: transparent;
    margin-bottom: 0px;
  }
  .nav-head-2{
    width: 100%;
    background: #fff;
    padding: 16px;
  }
  .navbar-header.nav-head-2 .logo {
    width: 100px;
  }
  .pd-top-50{
    padding-top: 70px!important;
  }
  .navbar-header{
    background: #fff;
  }
  .main-title{
    margin-bottom: 20px;
  }
  .menu-nav{
    height: 70vh;
    overflow: auto;
  }
  .menu-mob #myNavbar.in{
    transform: translateX(0);
    opacity: 1;
  }
  .menu-mob .navbar-right {
       position: absolute;
    bottom: 80px;
    justify-content: center;
    width: 90%
}
  .menu-mob a.logo {
    display: inline-block;
    margin-top: 16px;
    margin-left: 16px;
  }
  .menu-mob a.logo img {
      width: 70px;
  }
  /*home page*/
  .landing-container{
    /*width: 95%;*/
  }
.recent-btn{
      margin-bottom: 20px;
}
.m-pd-r-0{
padding-right: 0px;
}
.big-line-title{
  border-bottom: 0px;
}
.list-filter{
 border-bottom: 1px solid #f1a20d;
}
  .banner{
    height: 100vh;
  }
  .flex-wrap-mob{
    flex-wrap: wrap;
    padding:0px;
  }
  .single-logo{
    width: 50%;
    padding: 20px;

  }
  .scale-logo{
       transform: scale(1); 
       text-align: center;
  }
  .object.hero-img-object.z_0{
    width: 90%;
    /* position: relative; */
    bottom: 26%;
    top: initial;
  }
  .banner-content{
    top: 35%;
    width: 95%;
  }
  .hero-subtitle {
    margin: 15px 0px;
  }
  .btn-block-hero{
      display: flex;
      align-items: center;
      flex-wrap: nowrap;
  }
  .owl-theme .owl-dots .owl-dot span{
    width: 20px;
    height: 4px;
  }
  .owl-nav{
    position: static;
  }
  .slider-space{
   padding: 10px 10% 10px 0px;
  }
  .block-works{
    padding: 0px;
  }
  .line-tag{
    width: 80%;
  }
  .block-works p{
    font-size: 16px;
  }
  .works-img {
    margin: 50px 0px 20px;
  }
  .section-space {
    padding: 30px 0px;
  } 
  .subsection-space{
    padding: 20px 0px;
  }
  .watch-content{
    padding: 0px 0px 50px;
  }
  .btn-all{
    font-weight: 600;
    border-radius: 15px;
  }
  .object.layers-shape-big{
      width: 100%;
      bottom: 0px;
      left: initial;
      right: -85px;
      transform: none;
  }
  .section-space{
    overflow-x: hidden;
  }
  .watch-section-iframe{
    height: 200px;
  }
  #slider-testimonial .owl-nav img{
    filter: invert(0);
  }
  .owl-nav{
    transform: translateY(-30%);
  }
  .cmp-logo{
    padding: 0px 5px 0px;
    min-height: 100px;
    margin: 10px 0px;
  }
  .footer-shape{
    margin-top: -20px;
  }
  .footer{
    /*text-align: center;*/    
    color: #d4d4d4;
    padding: 30px 10px;
  }
   ul.footer-links li{
    text-align: left;
  }
  .logo-footer{
    margin: 20px 0px;
    filter: invert(01) grayscale(0.8);
  }
  .subscribe-text{
    width: 100%;
  }
  span.line-footer{
    margin: 30px 0px;
  }
  p.footer-link-heading, ul.social-links li i{
    font-size: 20px;
  }
  .main-title{
    opacity: 0.8;
  }

  /*why us page*/
 
.po-ab-brand-title{
  top:35%;
}

.w-cl-b{
  padding:5px;
  /*summary page*/
}
  
 .pd-top-40{
  padding-top: 0px;
 }

#owl-main.owl-ui-lg .owl-prev, #owl-main.owl-ui-lg .owl-next{
    width: 40px;
    height: 40px;
    margin: 10px;
    font-size: 20px;
    line-height: 40px;
}
.banner{
      height: 80vh;
      margin-top: 60px;
}
#owl-main .item {
    height: 80vh;
}
  

/*home page mobile */

#career-section .landing-container{ 
    width: 100%;
    padding: 0px 4%;
}
.caption-slide{
  border-left: 5px solid #F1A20D;
}
.active .fadeInLeft-1{
  transform: translate(0% , -50%);
}
.hero-title{
  color: #fff;
}
.search-icon-mob{   
    position: absolute;
    top: 19px;
    right: 70px;
    padding: 5px;
    text-align: center;
    width: 40px;
    height: 40px;
    margin: auto;
}
.search-icon-mob img{
  width: 20px;
}
.navbar-toggle{
  margin-top: 18px;
}
#owl-main .owl-prev img, #owl-main .owl-next img{
  height: 19px;
  margin-top: -5px;
}
.border-full-orange{
  border:none;
  margin: 0px;
}
.mg-top-bot{
  margin: 20px 0px;
}
.career-head p{
  opacity: 1;
}
 .title-oppo-block{
    transform: scale(1) translate(0);
 }
 .oppr-block{
  height: initial;
 }
 .title-career-block{
      transform: scale(1) translate(0px, 0px);
 }
 .arrow-block{
  padding: 4px;
 }
 .wfh-head{
  position:static;
  transform: translateY(0px);
 }
 .col-rev-mob{
  flex-direction: column-reverse;
 }
 .footer-left{
  padding:0px;
  width: 100%;
 }
 .back-to-topbtn{
  float: right;
  height: 40px;
  width: 40px;
  border-radius: 50%;
}
.back-top-block{
  width: 100%;
 }
 .news-wrapper{
  /*padding:0px;*/

  padding: 15px 20px 5px;
    background: #f3f3f3;
  margin: 0px 0px 10px;
    /* border: 1px solid #4c5b5d1f; */
    box-shadow: 0px 0px 3px #ffffff;
    
 }
 .border-top-bot-orange{
  border-top: 0px;
  border-bottom: 0px;
 }
 .landing-container{
  /*width: 95%;*/
  padding-right: 7%;
  padding-left: 9%;
 }
 .mg-bot-m-10{
  margin-bottom: 10px;
 }

 .left-pointer{
    border-top: 10px solid transparent;
    border-left: 10px solid #f1a20d;
    border-right: 10px solid transparent;  
    border-bottom: 10px solid transparent;
 }
 .section-space.number-section{
      padding: 50px 0px;
 }
 .wfh-image img{
      transform: scale(1);
 }
 .title-wfh-block{
      transform: scale(1);
 }
  .wfh-head{
  transform: translateY(0);
    align-items: end;
 }
/*Home page mobile end*/

/*Business overview*/
.img-number{
  margin: 30px auto;
}
.img-number img{
    width: 50px;
    height: 50px;
    margin: auto;
}
h3.big-num{
  font-size: 22px;
}
span.num-unit{
  font-size: 12px;
}


.banner-title{
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.verticle-page-title{
      font-size: 10px;
      letter-spacing: 3px;
}
.small-container{
  width: 90%;
}
.pd-30-t-b{
  /*padding: 10px 0px;*/
}

/*business overview end*/


/*Career page mob*/
.hi-sm{
  height: initial;
}
.wfh-big-st-block > img{
  height: initial;
  width: 100%;
}
.opprtunity-content{
    /*position: relative;*/
    z-index: 1;
   padding: 50px;
   width: 100%;
   right: initial;
}
.wfh-big-ab-block{
  padding: 15px;
  width: 100%;
}
.whf-st-text{
  padding: 20px;
}

/*partner with us*/
.partner-banner{
     background-image: url('../images/partner-with-us/m-partner-banner.jpg'); 
     background-size: cover;
     background-repeat: no-repeat; 
}
.newsroom-banner{
    background:url('../images/newsroom/m_banner.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.brands-banner{
    background:url('../images/brands/m_banner-brands.jpg');
    background-repeat: no-repeat;   
        background-size: 100% 100%;
}
.brands-banner .inner-page-title{
 /*text-shadow: 0px 15px 15px #545454;*/
 text-shadow: 0px 15px 15px #000;
}
.points-top:after{
	display: none;
}
.banner, #owl-main .item{
	height: initial!important;
}
.slide-right img{
	height: initial;
}
.btn-lgg{
  white-space: normal;
  text-align: left;
}
.form-block-partner .controls label{
  font-size: 12px;
  top: 9px;
}
.form-block-partner .form-control{
  height: 45px;
  margin: 10px 0px
}
.f-pd-left{
  padding-left: 0px!important;
}
.submit-btn{
  min-width: 200px;
}
.map-block{
     height: 250px;
    border-radius: 20px;
    overflow: hidden;
    margin-top: 50px;
}
.form-small-blocck{
    padding: 20px 0px;
}
.select-filter{
  margin:10px 0px;
}


/*Current openings*/
.single-job{
  padding: 10px 40px;
}
.job-title-block {
    margin-bottom: 50px;
}
.left-vert-border{
  top: 30px;
  width: 2px;
}
.job-subtitle{
  margin: 5px 0px 10px;
}
.input-group-btn{
  width: 40px;
}
.inter-block{
  padding: 20px 0px;
}
.single-logo-block{
  width: 100%;
  padding: 20px;
}
.white-circle-nav .owl-nav{
  position: static;
  transform: none;
}
.single-brand-item {
    transform: scale(1);
}
.single-brand-item:after{
  background:transparent;
}
.single-brand-item:hover .brand-name p{
  color: #fff;
}
/*team mobile*/
.img-team-member:after{
  border: 1px solid #f1a20d;
  content: "";
  width: 120%;
  height: 105%;
  position: absolute;
  bottom: 3px;
  left: 0%;
  z-index: -1;
}
.img-team-member{
    margin-top: 0%;
    width: 60%;
    margin: 10px auto;
}
.designed-block-team{
  margin-top: 0px;
  transform: translateY(0);
  border:none;
  padding: 10px 20px;
}
.designed-block-team h3{
  font-size: 12px;
    line-height: 18px;
}
.line-htl-or img{
  width: 50px;
 
}
.line-htl-or{
   margin: 20px auto;
}
.back-top-block{
    position: fixed;
    height: 50px;
    width: 50px;
    right: 10px;
    bottom: 10px;
    z-index: 1;
}
.line-news{display: none}
.line-orange-20{
  display: none;
}
.navbar{
  z-index: 11;
  border:0px;
}
.inner-banner-section{
  margin-top: 60px;
}
header{
  position: fixed;
  z-index: 9;
  width: 100%;
  top: 0;
  border-radius: 0px;
}

/*hira */
.communities-main-block .communities-block{
  width: 94%;
  margin: 2%;
}
.communities-content p{
  opacity: 1;
  display: block;
  transform: translateX(0);
}
.left-pointer.popup{
  border-left: 10px solid #f1a20d;
}
.navbar-nav .open .dropdown-menu{
    background-color: rgb(232 232 232 / 29%);
    border: none;
    -webkit-box-shadow: none;
    padding-left: 20px;
    box-shadow: none;
    border-left: 4px solid #f1a20d;
    border-radius: 0px!important;
}
.navbar-nav>li>a{
   border-bottom: 1px solid rgb(187 187 187 / 14%);
    line-height: 25px;
    margin: 0px 10px;
}
.dropdown-menu>li>a{
  line-height: 20px;
    padding-top: 7px;
    padding-bottom: 7px;
}

.news-container{
    padding:20px;
   width: 100%;
}
.counter-news {    
    right: 74px;
    bottom: 19%;
}

.single-brand-item.active .brand-name p{
  color: #000;
}
.img-brand{
  height: 70px;
  width: 70px;
  margin:20px 0px;
}
.single-brand-item.active:after{
  transform: scale(0.9);
}
div#brand-carousel{
  margin-top: 40px;
}
.left-line, .left-pointer, .left-line-banner{
    left: 9px;
  }

  .milestone .slick-next, .milestone .slick-prev{
    /*position: static;*/
    transform: none;
  }
  .milestone .slick-prev, .milestone .slick-next{
      height: 40px;
    width: 40px;
    background: #4c5b5d;
    top: 50px;
    border-radius: 50%;
  }
  .milestone .slick-prev:focus, .milestone .slick-next:focus{
     background: #4c5b5d;
  }
  .milestone .slick-next{
    right: 10%;
    left: initial;
  }
  #milestone .slick-slide a:before {
    width: 86%;
    content: "";
    position: absolute;  
   border:none;
    height: 3px;   
    left: 0px;
    background: #f1a20d;
     top: initial; 
    z-index: 9;
    bottom: 0px;
    opacity: 0;
}
.milestone-img{
  margin-top: 20px;
}
#milestone .slick-slide.slick-current.slick-active.slick-center a, #milestone .slick-slide.slick-current.slick-active.slick-center a:focus{
  background: #4c5b5d;
    color: #fff;
}
#milestone .slick-slide a{
  text-align: center;
  padding: 5px;
}
ul.nav.nav-pills{
  margin-left: 0px;
}
ul.nav.nav-pills a{
  font-size: 12px;
}
span.year-value{
  font-size: 20px;
  line-height: 23px;
}
.listing_year.col-md-2.nopadding{
  height: 120px;
}

/*Newsroom */
.media-resource-btn{
  bottom: 0px!important;
}
.ab-nav.owl-theme .owl-nav{
  position: static;
}
.article-block{
  padding: 20px;
}
.single-article .single-article-content{
  width: 100%;
  padding: 20px 20px 20px 50px;
}
.single-resource {
    margin-top: 20px;
    border-bottom: 1px solid#d2d2d2;
}
ul.social-links li i{
  color: #4c5b5d;
}
ul.social-links li{
  background: #eeeeee;
}
.menu-mob #myNavbar{
  over
}
/*belief page mobile*/
  .block-csr{
       padding: 50px 20px;
  }
.grid-container-communities {  
   
    grid-template-columns: 98%;    
    grid-gap: 10px;
    grid-template-areas:
               "story1 "
               "story2 "
               "story3 "
               "story4 "
               "story5 ";
    background-color: transparent;
}

.grid-container-csr{  
    display: grid; 
    grid-template-columns: 98%;
    grid-gap: 10px;
    grid-template-areas:
               " csr-g-1"
               " csr-g-2"
               " csr-g-4"
               " csr-g-3";              
               
    background-color: transparent;
    padding-top: 3px;
}
.breking-news-block{
  margin-top: 30px;
}
.po-ab-brand-title{
    /*position: static;*/
    /*padding:20px;*/
}
.b-5-block .single-logo-block{
  width: 48%;
  min-height: 140px;
}
.custom-logo-text{
  height: 140px;
}
.sub-brand-btn{
  padding:5px;
}
.custom-logo-text p{
  font-size: 12px;
}
.journey_content .col-md-12{
  flex-wrap: wrap;
}
section.logo-back:before{
  display: none;
}


#team-carousel .item{
  
  -webkit-transition:.4s ease all;
  transition:.4s ease all; 
}
.single-top-team{
  flex-direction: column;
}
.team-top-detail{
  position: static;
  left: 0px;
  display: block;
  width: 100%;  
}
/*.owl-item.active.center .team-top-image {
    transform: scale(1) translateX(00px);
}*/
.single-logo-block div.d-flex{
  flex-wrap: wrap;
  padding: 0px 0px;
}
.brand-page-logo .single-logo-block div.brand-logo{
    width: 65%!important;
    border-right: 0px!important;
       margin: 5px auto 5px;
    min-height: auto;
}
.single-logo-block div.d-flex div:nth-child(2){
  width: 100%;
}
button.btn.btn-all.green-upload-btn{
    width: 200px;
    padding: 10px;
   
}
.upload-btn-wrapper{
   margin: 15px;
}
li.active .sbu-name h4, .sbu-name h4{
  font-size: 12px;
}
.img-sbu{
  height: 140px;
  border-radius: 0px;
}
.sbu-name{
  border-radius: 0px;
}
.sbu-tabs li{
 width: 25%;
    margin: 0%;
}
.sbu-tabs.nav-pills>li+li{
margin-top: 0px;
}
ul.nav.nav-pills.sbu-tabs a{
  margin: 0px;
}
li.active .sbu-name{
      background: #4c5b5d;
}
.sbu-tabs li.active .sbu-item:after{
  border-top: 20px solid #4c5b5d;
}
.points-top{
  margin-bottom: 5px;
}

/*new beliefs page*/
.grid-container-gallery{  
   
    /*grid-template-columns:  30% 30% 30%;*/
    grid-template-rows:3fr;
    grid-gap: 2px;
    grid-template-areas:
               "g-gal1 g-gal1 g-gal1 g-gal1"               
               "g-gal21 g-gal21 g-gal22 g-gal22"
               "g-gal23 g-gal23 g-gal24 g-gal24"
               "g-gal3 g-gal3 g-gal3 g-gal3 "
               "g-gal3 g-gal3 g-gal3 g-gal3"
               "g-gal41 g-gal41 g-gal43 g-gal43"
               "g-gal41 g-gal41 g-gal43 g-gal43"
               "g-gal42 g-gal42 g-gal42 g-gal42"
               "g-gal42 g-gal42 g-gal42 g-gal42"
               "g-gal51 g-gal51 g-gal53 g-gal53"
               "g-gal51 g-gal51 g-gal53 g-gal53"
               "g-gal52 g-gal52 g-gal52 g-gal52"
               "g-gal52 g-gal52 g-gal52 g-gal52";
    background-color: transparent;
}
.single-service{
  width: 30%;
}
.b-gal-caption{
  font-size: 12px;
}
.service-title{
  min-height: 50px;
}
.service.image{
  height: 50px;
}
.service.image img{
   height: 30px;
    width: auto;
}
.service-title h4{
  font-size: 12px;
}
.m-flex-col-inverse{
    flex-direction: column-reverse;
}

/*Recent article page*/
.list-filter{
  position: static;
  float: none;
}
.list-filter li{
 padding: 0px 10px;
}
.single-arti-block {
  align-items: flex-end;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    background: #ffffff;
    padding: 10px;
    color: #fff;
    border-radius: 10px; 
    margin: 10px 0px 20px;
    box-shadow: 0px 15px 15px -15px #bfbfbf;
}
.left-thumb-img{
  width: 100%;
    padding: 5px;
}
.left-thumb-img img{
width: 100%;
}
.list-descri.arti-desci{
  border-right: 0px;
  margin-right: 0px;
  width: 100%;
  padding: 5px;
}
.container-without-lft-line{
    padding-left: 3%;

}
.arti-desci p{
font-size: 12px;
}

/*home */
.outer #thumbs .item img{
  /*width: 86px;*/
}
.mob-img{
  display: block!important;
}
.desk-img{
  display: none!important;
}
.btn-white{
  padding: 5px!important;
  font-size: 10px;
}
.big-img-brand-home img{
   height: 60vh;
   object-fit: cover;
}
.grid-container-sustain{  
    display: grid; 
    grid-template-columns: 98%;
    grid-template-rows:4fr;
    grid-gap: 10px;
    grid-template-areas:
               "si1"
               "si2"
               "si3" 
               "si4"
               "si5" 
               "si6"
               "si7" 
               "si8"
               "si9"
               "si10" 
               "si11";
    background-color: transparent;
}
.sustain-icon img{
  width: 70px;
}
.patch{
	font-size: 10px;
}
.outer .hero-title{
	margin-top: 5px;
}
 #home-news{
  	padding-top: 0px;
  	padding-bottom: 0px;
  }

  .left-news .news-wrapper{
 		opacity: 1;
    -webkit-transform: none;
       -moz-transform: none;
        -ms-transform: none;
         -o-transform: none;
            transform: none;
  }

  .outer #thumbs .owl-item{
    padding:3px;

  }
  div#thumbs .item img{
    padding: 5px;
  }
  .outer #thumbs.owl-theme .owl-next, .outer #thumbs.owl-theme .owl-prev{
    position: static;
   width: 30px;
   height: 30px;
       line-height: 19px;
    border-radius: 50%;
   
  }
  #owl-main.owl-ui-lg .owl-prev span, #owl-main.owl-ui-lg .owl-next span{
     font-size: 30px;
    display: block;
    line-height: 37px;   
    height: 100%;
  }
  .outer .owl-theme .owl-nav{
    position: absolute;
    right: 0px;
    bottom: 50px;
  }
  #owl-main .owl-nav{
    bottom: 0%;
  }
}
  /* Portrait and Landscape */
  @media only screen 
    and (min-device-width: 320px) 
    and (max-device-width: 359px)
    and (-webkit-min-device-pixel-ratio: 2) {
      h1 {
    font-size: 30px;
    }
    h2 {
      font-size: 24px;
    }
    h4 {
      font-size: 16px;
    }
    h3 {
      font-size: 16px;
    }
    p {
      font-size: 12px;
    }
    .btn {
      font-size: 12px;
    }

      }